/* global style ----------------- */

/* google font  */
 @import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Poppins:wght@300;400&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100&family=Tajawal:wght@400;500;700;800&display=swap'); */




body{
   
    font-family: 'Tajawal', sans-serif
}
a{
    text-decoration: none;
    color: var( --t4s-success-color);
}
ul li{
    list-style: none;
}

/* navbar------------------ */

.header .first_navbar{
    background-color: #8f9eaa;
    color: #fff;
    padding: .1rem 6rem;
}
.header .second_navbar{
    padding: 1rem 6.5rem;
    border-bottom:1px solid rgba(0, 0, 0, .2) ;
}
.second_navbar input{
    width: 40rem;
    border-radius: 3rem;
    padding: .7rem;
}
.second_navbar button{
    position: absolute;
    left: 0;
    bottom: .3rem;
    background-color:#1c2939 ;
    color: #fff;
    padding: .5rem 2.5rem;
    border-radius: 3rem;
}
.second_navbar i span{
font-size: .5rem;
position: absolute;
padding: .3rem;
top: -.5rem;
color: #fff;
right: -.6rem;
border-radius: 50%;
background: #030406;
text-align: center;
}
.second_navbar i:hover{
color: #8f9eaa80;
}
.second_navbar .le:hover{
    color: #8f9eaa80;
}
.header span{
cursor: pointer;
}
.span{
    display: none;
    margin-left:.5rem ;
    border:  1px solid rgba(0, 0, 0, .2) ;
    padding: .5rem;
    
}

/* menu section-------------------- */

.list_menu .main_menu{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 1.4rem 0;
}

.list_menu ul li{
    position: relative;
    cursor: pointer;

}
.list_menu ul li:hover{
    color: #8f9eaa80; 
}

.list_menu ul li span{
    font-size: .6rem;
position: absolute;
padding: .3rem;
top: -.9rem;
color: #fff;
right: -.6rem;
border-radius: 4rem;
background: #030406;
text-align: center;
}

.list{
    position: relative;
}
.list .men{
    position: absolute;
    left: 10rem;
    right: 10rem;
    border-top: 1px solid #8f9eaa80;
    justify-content: space-around;
    background-color: #fff;
    z-index: 99;
    padding: 1rem 0;
   display: none ;
}
.list .childrenList{
    position: absolute;
    left: 50%;
  background-color: #fff;
    z-index: 99;
    display: none ;
}
.list .homeList{
    position: absolute;
    left: 42%;
  background-color: #fff;
    z-index: 99;
    display: none;
}
.list .shoeList{
    position: absolute;
    left: 35%;
  background-color: #fff;
    z-index: 99;
    display: none;
}
.list .accesList{
    position: absolute;
    left: 27%;
  background-color: #fff;
    z-index: 99;
    display: none;
}
.list .winterList{
    position: absolute;
    left: 18%;
  background-color: #fff;
    z-index: 99;
    display: none;
}

.list li{
    padding: .7rem;
}
.show{
    display: block !important;
}
/* ----------------------------------------- */

/* form section  */

.form{
 width: 50%;
 display: none;
  margin: auto;
  background-color: #8f9eaa;
  padding: 2rem 2rem 3rem 2rem;
  position: fixed;
  transform: translate(-50%,-10%);
  z-index: 99;
  color: #fff;
  border-radius: 1rem;
  transition: all 3s;
}


.overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: 88;
    display: none;
    transition: all 3s;
}
.cancel{
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: .5rem;
    background-color: #000;
    border-radius: 1rem;
}



/* ------------------------------------------------------------ */
/* slider section----------------------- */


.slider{
    width: 87%;
    margin: auto;
}
/* ------------------------------------------- */
.panner_collection{
    display: flex;
    /* flex-wrap: wrap; */
    padding-top: 2rem;
    width: 87%;
    justify-content: center;
    margin: auto;
    gap: 3rem;
}
.panner_collection .item{
    width: 20%;
}
.panner_collection .item_panner img{
   width: 15rem;
}
.panner_collection .item_panner p{
    text-align: center;
 }

/* ----------------------------------------------------------------------- */

/* new collection ----------------------- */

.new_collection{
    width: 87%;
    margin: auto;
}
.new_collection .title{
    text-align: center;
    width: 97%;
    margin-bottom: 2rem;
    border-bottom: 2px solid rgba(119,119,119,.17);
  
}
.new_collection .title h2::after{
    content: "";
    width: 12rem;
    height: .1rem;
    position: absolute;
    bottom: -1.6rem;
    left: 50%;
   transform: translatex(-50%);
    background-color: #030406;
}

.new_collection .slide{
   
    display: flex;
    gap: 3rem;
}
.new_collection .slide .card{
    width: 50% ;
    color: #000 !important;
}

.new_collection button{
  
    position: absolute;
    left: 1rem;
    width: 4rem;
    height:100% ;
    background-color: #f5ecec !important;
}
/* ----------------------------------------------------------------- */

.perfume_panner{
    width: 87%;
    padding: 1rem 0;
    margin: auto;
} 
/* --------------------------------------------------------------------- */

/* best_selections----------------- */
.best_selections{
    width: 87%;
    margin: auto;
}
.best_selections .title{
    text-align: center;
    width: 97%;
    margin-bottom: 2rem;
    border-bottom: 2px solid rgba(119,119,119,.17);
  
}
.best_selections .title h2::after{
    content: "";
    width: 12rem;
    height: .1rem;
    position: absolute;
    bottom: -1.6rem;
    left: 50%;
   transform: translatex(-50%);
    background-color: #030406;
}
.best_selections .slide{
   
    display: flex;
    gap: 3rem;
  
}
.best_selections .slide .card{
    width: 50% ;
    color: #000 !important;
}
.best_selections button{
  
    position: absolute;
    left: 1rem;
    width: 4rem;
    height:100% ;
    background-color: #f5ecec !important;
}
/* --------------------------------------------------------- */

/* collection ---------------- */

.collection{
    width: 87%;
    margin: auto ;
    padding: 2rem 0;   
}
.collection img{
    width: 33%;
}
/* ---------------------------------------------------------------- */
.panner_likefather{
    width: 87%;
    padding: 1.5rem 0;
    margin: auto;
}

/* ------------------------------------------------------------ */

/* shirts -section ------- */
.shirts{
    width: 87%;
    margin: auto;
    
}

.shirts .title{
    text-align: center;
    width: 97%;
    margin-bottom: 2rem;
    border-bottom: 2px solid rgba(119,119,119,.17); 
}
.shirts .title h2::after{
    content: "";
    width: 12rem;
    height: .1rem;
    position: absolute;
    bottom: -1.6rem;
    left: 50%;
   transform: translatex(-50%);
    background-color: #030406;
}
.shirts .slide{
    display: flex;
    gap: 1rem;
    margin: auto !important;
}
.shirts .right{
    position: absolute;
    height: 80%;
    color: #fff;
    padding: 1.5rem;
    z-index: 99;
    background-color: #f5ecec!important;
}
.shirts .left{
    position: absolute;
    height: 80%;
    left: 7rem;
    color: #fff;
    padding: 1.5rem;
    z-index: 99;
    background-color: #f5ecec !important;
}

/* -------------------------------------------------------- */

/* collection jeans  */
.collection_jeans{
    width: 87%;
    margin: auto;
    padding: 2rem 1rem;
}

.collection_jeans img{
    width: 33%;
}
/* ---------------------------------------------------------------- */



/* ------------------------------------------ */

.shoes_panner{
    width: 87%;
    padding: 1.5rem 0;
    margin: auto;
}
/* --------------------------------------------------- */

/* <!-- shoes section  --> */
.shoes{
    width: 87%;
    margin: auto;
}
.shoes .slide{
    /* display: flex;
    gap: 1rem; */
    padding: 2rem 0;


}
.shoes .buttons{
       position: relative;
       
}


.shoes .right{
    position: absolute;
  
    right: 1rem;
    color: #fff;
    top: 10rem;
    padding: 1.5rem;
    border-radius: 50%;
    z-index: 99;
    background-color: #030406 !important;
}
.shoes .left{
    position: absolute;
    left: 1rem;
    color: #fff;
    top: 10rem;
    padding: 1.5rem;
    border-radius: 50%;
    z-index: 99;
    background-color: #030406 !important;
}
/* --------------------------------------------------------------------------------- */

/* testimonals section  */

.testimonals{
    width: 87%;
    margin: auto;
    position: relative;
    padding: 2rem 0;
}
.testimonals .slide{
    display: none;
    text-align: center;
    margin: auto;
}
.testimonals .right{
    position: absolute;
    font-size: 2rem;
    right: 5rem;
    top: 5rem;
    padding: 1.5rem;
    border-radius: 50%;
    z-index: 99;
  
}
.testimonals .left{
    position: absolute;
    left: 5rem;
    top: 5rem;
    font-size: 2rem;
    padding: 1.5rem;
    border-radius: 50%;
    z-index: 99;
  
}
/* -------------------------------------------------------------------- */

/* footer----------- */

footer .firstFooter{
    background-color:#8f9eaa;
    padding: 3rem;
    margin-bottom: 1rem;
    /* flex-wrap: wrap; */
}
.firstFooter .item{
    width: 25%;
}
.firstFooter i{
    font-size: 1.5rem;
}
.firstFooter i:hover{
   font-size: 2rem;
}
.firstFooter p{
   color: #fff;
}


footer .secondFooter{
    background-color:#1c2939 ;
    color: #fff;
    padding: 3rem 0;
    margin-top: 1rem;
}
.secondFooter input{
    width: 30rem;
    background-color:#1c2939;
    color: #fff;
    border-radius: 3rem;
    padding: .7rem;
    outline: none;
    border: 1px solid #fff;
}
.secondFooter button{
    position: absolute;
    left: .2rem;
    width: 8rem;
    height: 2.8rem;
    background-color:#8f9eaa ;
    color: #fff;
    border-radius: 3rem;
    border: none;
}

.secondFooter ul li{
    list-style: none;
    line-height: 2rem;
    opacity: .5;
    cursor: pointer;
}
.secondFooter ul li:hover{
opacity: 1;
}
.secondFooter i{
    padding: .4rem;
}
.secondFooter i:hover{
   color: #0774d7;
}